@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --bs-pink: #ff4fa7;
    --bs-pink-hover: #ce1974;
    --bs-light: #f8f9fa;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --pink:#f1356d;
}

*{
    font-family: 'Nunito', sans-serif;
    border: none; padding: 0;
    color:  #161c2d;;
    line-height: 1.5;
    margin: 0; outline: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s linear;
    box-sizing: border-box !important;
    list-style: none;
    max-width: 100%;
}

html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html{
    overflow-x: hidden !important;
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar{
    width: 1.2rem; 
}

html::-webkit-scrollbar-track{
    background: #444;
}

html::-webkit-scrollbar-thumb{
    background: var(--bs-pink);
    border-radius: 5rem;
}




::selection{
    background: var(--bs-gray);
    color: var(--bs-light);
}


.btn-1, .btn-2, .btn{
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    line-height: 1.5;
    user-select: none;
}


section{
    padding: 6rem 7%;
   
}

.heading{
    text-align: center;
    font-size: 4rem;
}

.sub-heading{
    font-size: 2rem;
    padding: 1.5rem 0;
}

.btn-1, .btn{
    background: var(--bs-pink);
    color: var(--bs-light);
    margin-right: 2rem;
    border-radius: 1rem;
    padding: 1rem 2.8rem;
}

.btn{
    background: var(--bs-pink-hover);
}

.btn-1:hover{
    background: var(--bs-pink-hover);
    border-color: var(--bs-pink-hover);
}

.btn:hover{
    background: var(--bs-pink);
}

.portfolio{
    background-color: rgb(236, 235, 235);
    min-height: 100vh;
    position: relative;
    overflow-x: hidden !important;
    min-height: 100vh;
    padding: 4rem 5%;


}

.portfolio .box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 5rem 0;
    
}

.portfolio .box-container .box{
    flex: 1 1 35rem;
    height: 30rem;
    background: #000;
    border: none;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);
    /*box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);*/
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}

.portfolio .box-container .box:hover{
    transform: scale(1.05);
}

.portfolio .box-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: .2;
    
}

.portfolio .box-container .box .box-content{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
    z-index: 1000;
    display: grid;
    place-items: center;
}

.portfolio .box-container .box .box-content h3{
    font-size: 2.5rem;
    color: var(--bs-pink);
    padding-bottom: 2rem;
}

.portfolio .box-container .box .box-content p{
    text-align: center;
    font-size: 1.7rem;
    color: var(--bs-light);
    margin-top: -3rem;
    text-transform: capitalize;

}

.portfolio .btn-1{
    display: flex;
    justify-content: center;
    width: 20rem;
    margin: 0 auto;
    
}

