@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --bs-pink: #ff4fa7;
    --bs-pink-hover: #ce1974;
    --bs-light: #f8f9fa;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --pink:#f1356d;
}

*{
    font-family: 'Nunito', sans-serif;
    border: none; padding: 0;
    color:  #161c2d;;
    line-height: 1.5;
    margin: 0; outline: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s linear;
    box-sizing: border-box !important;
    list-style: none;
    max-width: 100%;
}

html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html{
    overflow-x: hidden !important;
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar{
    width: 1.2rem; 
}

html::-webkit-scrollbar-track{
    background: #444;
}

html::-webkit-scrollbar-thumb{
    background: var(--bs-pink);
    border-radius: 5rem;
}




::selection{
    background: var(--bs-gray);
    color: var(--bs-light);
}


.btn-1, .btn-2, .btn{
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    line-height: 1.5;
    user-select: none;
}


section{
    padding: 6rem 7%;
}

.heading{
    text-align: center;
    font-size: 4rem;
}

.sub-heading{
    font-size: 2rem;
    padding: 1.5rem 0;
}

.btn-1, .btn{
    background: var(--bs-pink);
    color: var(--bs-light);
    margin-right: 2rem;
    border-radius: 1rem;
    padding: 1rem 2.8rem;
}

.btn{
    background: var(--bs-pink-hover);
}

.btn-1:hover{
    background: var(--bs-pink-hover);
    border-color: var(--bs-pink-hover);
}

.btn:hover{
    background: var(--bs-pink);
}

.big-div{
    background: url(images/home-shape.png) no-repeat;
    background-size: cover;
    background-position: center center;
}

.header-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
}

.header-1 .logo{
    font-size: 2rem;
    font-weight: 600;
    user-select: none;
}   

.header-1.active{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    opacity: 1;
    background-color: #fff !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.header-1 #menu-bar{
    font-size: 3rem;
    border: .1rem solid #161c2d;
    border-radius: .5rem;
    padding: .8rem 1.5rem;
    cursor: pointer;
    display: none;
}

.header-1 .my-nav a{
    font-size: 2rem;
    padding-left: 2rem;
    font-weight: bold;
}

.header-1 .my-nav a:hover{
    color: var(--bs-pink);
}


.home{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    z-index:0;
    }

.home .wrapper{
    flex: 1 1 30rem;
}

.home .wrapper .hot{
    border: .07rem solid var(--bs-gray);
    padding: 1rem;
    border-radius: 10rem;
    /*display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    align-items: center;
    justify-content: center;*/
    width: 90%;
}

.home .wrapper .hot span{
    background: var(--bs-pink);
    font-size: 1rem;
    color: var(--bs-light);
    letter-spacing: .5px;
    padding: .5rem .8rem;
    border-radius: 1.2rem;
    font-weight: bolder;
}

.home .wrapper .hot h6{
    font-size: 1.5rem;
    padding-top: .2rem;
    text-align: center;
    text-transform: none;
    color: var(--bs-gray-dark);
}
.home .or{
    text-align: center;
    margin: 2rem auto;
    text-transform: none;
    background: var(--bs-pink);
    font-size: 2rem;
    color: var(--bs-light);
    letter-spacing: .5px;
    padding: .5rem .8rem;
    border-radius: 1.2rem;
    font-weight: bolder;
    width: 7rem;
}

.home .wrapper .hot .image{
    flex: 1 1 40rem;
}

.home .wrapper .hot .image img{
    width: 100%;
    flex: 1;

}

.home .wrapper h1{
    font-size: 2rem;
    width:60%;
    line-height: 1.3;
    text-transform: none;
    color: var(--bs-gray);
    padding-top: 1rem;
    margin-bottom: -2rem;
}

.home .wrapper  p, .hello{
    font-size: 2.7rem;
    width: 100%;
    color: var(--bs-gray-dark);
    text-transform: none;
    padding-top: 1.5rem;
    font-weight: bold;
}

.hello{
    font-weight: normal;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: var(--bs-gray);
}


.home .wrapper .button{
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 5rem;
}

.home .wrapper .button .download{
    color: var(--bs-pink);
    display: flex;
    align-items: center;
    border: .1rem solid var(--bs-pink);
    padding: 1rem 2.8rem;
    border-radius: 1rem;
}

.download:hover {
    background: var(--bs-pink);   
}

.home .wrapper .button .download .btn-2{
    color: var(--bs-pink);
}

.home .wrapper .button .download i{
    padding-left: 1rem;
    font-size: 1.5rem;
    color: var(--bs-pink);
}

.home .wrapper .button .download:hover .fa-download, .home .wrapper .button .download:hover .btn-2{
    color: var(--bs-light);
}

.about{
    z-index: 0;
    margin-top: 0;
    min-height: 100vh;
    padding: 3rem;
}

.about .wrapper{
    background: #fff;
    border: .2rem solid var(--bs-light);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 5rem;
}

.about .wrapper .details{
    flex: 1 1 20rem;
    background: var(--bs-light);
    padding: 2rem;
    border-radius: 1rem;
}

.about .wrapper .details h3{
    font-size: 2rem;
    border-bottom: .2rem dotted var(--bs-gray);
    padding-bottom: .3rem;
}

.about .wrapper .details span{
    font-size: 1.5rem;
    font-weight: 600;
}

.about .wrapper .details p{
    font-size: 1.7rem;
    text-transform: none;
    font-weight: 500;
    padding-top: 1rem;
    color: #6c757d;
}

.about .wrapper .content{
    flex: 1 1 55rem;
    padding: .5rem 2rem;
}

.about .wrapper .content h1{
    font-size: 2.5rem;
}

#text{
    color: var(--bs-pink);
    display: inline-block;
    font-size: 2.7rem;
  }

.about .wrapper .content p {
    font-size: 1.8rem;
    color: #6c757d;
    text-transform: none;
    line-height: 1.7;
    
}

.services{
    background: var(--bs-light);
    z-index: -1;
    margin-top: -50rem;
    margin-bottom:15rem;
    position: relative;
    overflow-x: hidden !important;
    min-height: 100vh;
    padding-top: 0rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    }

    .services h1{
        padding-top: 25rem;
        padding-bottom: 0;
    }
.services .box-container{
    display: flex;
    width: 90%;
   justify-content: center;
   flex-wrap: wrap; 
   padding-top: 5rem;
}

.services .box-container .box{
    width: 40rem;
    margin: 2rem 3rem;   
    padding: 3rem;
    background: #fff;
    text-align: center;
    border: .1rem solid var(--bs-light);
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);
    border-radius: .5rem;
    border-left: .5rem solid var(--bs-pink);
    border-right: .5rem solid var(--bs-pink);
}

.services .box-container .box i{
    font-size: 5rem;
    color: var(--bs-pink);
}

.services .box-container .box p{
    font-size: 1.7rem;
    text-transform: none;
    color: #6c757d;
    line-height: 1.7;
    text-align: start;
}

.pricing{
    margin: 0;
    padding: 6rem 9%;
    min-height: 100vh;

}

.pricing .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
}

.pricing .box-container .box{
    padding: 3rem 6rem;
    border-radius: .5rem;
    border: .1rem solid var(--bs-light);
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}

.pricing .box-container .box:hover{
    transform: scale(1.1);
}

.pricing .box-container .box .mini-head{
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--bs-pink);
    text-align: center;
}

.pricing .box-container .box .price span:first-of-type{
    font-size: 3rem;
    position: relative;
    bottom: 3rem;
    font-weight: normal;
    left: 0rem;
    color: #6c757d;
}

.pricing .box-container .box .price span:nth-child(2){
    font-size: 2.5rem;
    position: relative;
    bottom: 0rem;
    right: 1.8rem;
    text-transform: none;
    font-weight: normal;
    color: #6c757d;
}

.pricing .box-container .box .price{
    font-size: 6rem;
    font-weight: bold;
}


.pricing .box-container .box ul{
   margin-bottom: 3rem;
}

.pricing .box-container .box ul li{
    font-size: 1.7rem;
    line-height: 2;
    color: #6c757d;
}

.pricing .box-container .box .btn-1{
    border-radius: 8rem
}

.skills{  
    background: #fff;
    padding: 3rem;
}

.skills .skill-slider .slide{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding-top: 8rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.skills .skill-slider .slide i{
    font-size: 6rem;
    background: var(--bs-pink);
    border-radius: 1rem;
    padding: 1.5rem 3rem;
    text-align: center;
   
}

.skills .skill-slider .slide span{
    display: block;
    font-size: 1.7rem;
    color: #343a40;
    text-align: center;
    font-weight: bolder;
    color: var(--bs-light);
    
}

.skills .skill-slider .slide .image{
    width: 12rem;
    height: 12rem;

  
}

.skills .skill-slider .slide .image img{
    background: var(--bs-pink);
    padding: 3rem;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    bottom: .5rem;
}

.skills .skill-slider .slide .image span{
    font-size: 1.7rem;
    cursor: #000;
    position: relative;
    margin-top: -4rem;
    
}

.swiper-pagination-bullet-active{
    background: var(--bs-pink);
}

.projects{
    background: var(--bs-light);
}

.projects p{
    text-align: center;
    font-size: 1.7rem;
    text-transform: none;
    padding-top: 1rem;
}

.projects p a{
    text-decoration: underline;
    color: rgb(0, 81, 255);
}

.projects .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 5rem 0;
}

.projects .box-container .box{
    flex: 1 1 35rem;
    height: 30rem;
    background: #000;
    border: none;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);
    /*box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);*/
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}

.projects .box-container .box:hover{
    transform: scale(1.05);
}

.projects .box-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: .2;
    
}

.projects .box-container .box .box-content{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
    z-index: 1000;
    display: grid;
    place-items: center;
}


.projects .box-container .box .box-content h3{
    font-size: 2.5rem;
    color: var(--bs-pink);
    padding-bottom: 2rem;
}

.projects .box-container .box .box-content p{
    text-align: center;
    font-size: 1.7rem;
    color: var(--bs-light);
    margin-top: -3rem;
    text-transform: capitalize;

}

.projects .btn-1{
    display: flex;
    justify-content: center;
    width: 20rem;
    margin: 0 auto;
    
}


.portfolio{
    background-color: rgb(236, 235, 235);
    min-height: 100vh;
    position: relative;
    overflow-x: hidden !important;
    min-height: 100vh;
    padding: 4rem 5%;
    z-index: 0;


}

.portfolio .box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 5rem 0;
    
}

.portfolio h3{
    text-align: center;
    font-size: 2rem;
}

.portfolio .box-container .box{
    flex: 1 1 35rem;
    height: 30rem;
    background: rgb(0, 0, 0);
    border: none;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);
    /*box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);*/
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}

.portfolio .box-container .box:hover{
    transform: scale(1.05);
}

.portfolio .box-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: .3;
    
}

.portfolio .box-container .box .box-content{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
    z-index: 1000;
    display: grid;
    place-items: center;
}

.portfolio .box-container .box .box-content h3{
    font-size: 2.5rem;
    color: var(--bs-pink);
    padding-bottom: 2rem;
}

.portfolio .box-container .box .box-content p{
    text-align: center;
    font-size: 1.7rem;
    color: var(--bs-light);
    margin-top: -3rem;
    text-transform: capitalize;

}

.portfolio .btn-1{
    display: flex;
    justify-content: center;
    width: 20rem;
    margin: 0 auto;
    
}





.contact .box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem 4%;
    
}

.contact .box-container .box i{
    font-size: 3rem;
    font-weight: bold;
    height: 8rem;
    width: 8rem;
    line-height: 8rem;
    border: .1rem solid var(--bs-pink);
    text-align: center;
    border-radius: 50%;
    background: var(--bs-pink);
    color: var(--bs-light);
}

.contact .box-container .box span{
    display: block;
    padding: 1rem 0;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0 auto;
    color: #666;
}

.contact .box-container .box p{
    font-size: 1.7rem;
    color: var(--bs-pink);

}

.contact .box-container .box .second{
    text-transform: none;
}

.contact h3{
    font-size: 2.5rem;
    text-align: center;
    padding-top: 2rem;
    color: var(--bs-gray)
}

.contact form {
    border: .1rem solid #fff;
    border-radius: 1rem;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}

.contact form .inputBox{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact form .inputBox .input-1{
    width: 49%;
}



.contact form .inputBox .input-1 select{
    width: 100%;
}

.contact form .input-1 .input-2 textarea{
    width: 100%;
    resize: none;
    height: 20rem;
}

.contact form .inputBox .input-1 .label label, .contact form .input-1 .label label{
    font-size: 1.5rem;
}

.contact form .inputBox .input-1 .input-2, .contact form .input-1 .input-2{
    border: .1rem solid rgba(0, 0, 0, .1);
    padding: 1rem;
    border-radius: .5rem;
    margin: 1rem 0;
}

.contact form .inputBox .input-1 .input-2 input, .contact form .input-1 .input-2 textarea, .contact form .inputBox .input-1 .input-2 select{
    font-size: 1.5rem;
}

.contact form .inputBox .input-1 .input-2 input[type="email"]{
    text-transform: lowercase;
}


.contact form .btn-1{
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    width: 20rem;
}

.links{
    background: var(--bs-light);
    padding: 3rem 7%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    box-sizing: border-box !important;
    overflow-x: hidden !important;
}

.links a{
    font-size: 2.5rem;
    font-weight: 400;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    text-align: center;
    color: var(--bs-pink);
    background: #fff;
}

footer{
    padding: 3rem 6rem;
    background: var(--bs-gray-dark);
    box-sizing: border-box !important;
    overflow-x: hidden !important;
}


footer p{
    text-align: center;
    font-size: 2rem;
    color: #fff;
}

#scroll-top{
    position: fixed;
    top: -100%;
    right: 2rem;
    color: #fff;
    font-size: 3rem;
    padding: .5rem 1rem;
    background: var(--bs-pink);
    opacity: .7;
    font-weight: 600;
    border-radius: .5rem;
    transition: 1s linear;
}

#scroll-top.active{
    top: calc(100% - 12rem); 
}

























/*media queries*/

@media(max-width:1280px){

    .home .wrapper .hot{
        width: 100%;
    }

    .about .wrapper{
        margin-top: 12rem;
    }

}

@media(max-width:1200px){
    html{
        font-size: 55%;
    }
    
    .home .wrapper .hot span{
        font-size: 1.5rem;
        border-radius: 2rem;
    }
    
    .home .wrapper .hot h6{
        font-size: 1.7rem;
    }

    .home .wrapper h1{
        width:65%;
        padding: 1.5rem 0;
    }
    
    .home .wrapper  p, .hello{
        font-size: 2.7rem;
        width: 100%;
        color: var(--bs-gray-dark);
        text-transform: none;
        padding-top: 1.5rem;
        font-weight: bold;
    }
    
    .hello{
        font-weight: normal;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        color: var(--bs-gray);
    }
    
    
    .home .wrapper .button{
        padding-top: 2rem;
        display: flex;
        align-items: center;
    }

    .about .wrapper{
        margin-top: -3rem;
    }

    .header-1.active{ 
        margin-bottom: 2rem;
    }

    .header-1 #menu-bar{
        display: initial;
    }

    .header-1 .my-nav{
        position: absolute;
        top: 17%; left: 0; right: 0;
        padding: 1rem 0rem;
        z-index: 1000;
       
        background: var(--bs-pink);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        
    }

    .header-1 .my-nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header-1 .my-nav a{
        display: block;
        font-size: 1.7rem;
        padding: 1.5rem;
        margin: 0 1rem;
        border: .1rem solid var(--bs-light);
        background: var(--bs-pink);
        color: var(--bs-light);
        box-sizing: border-box;
    }

    .header-1 .my-nav a:hover{
        color: #161c2d;
        font-size: 1.8rem;
    }
}



@media(max-width:991px){

    
    html{
        font-size: 55%;
    }
    .header-1{
        padding: 3rem;
    }

    section{
        padding: 15rem 3rem;
    }

    .home .wrapper .hot{
        padding: 1rem;
        text-align: center;

    }
    
    .home .wrapper .hot span{
        font-size: 1rem;
        text-align: center;
        align-items: center;
    }
    
    .home .wrapper .hot h6{
        font-size: 1.5rem;
    }
    
    .home .wrapper h1{
        font-size: 1.8rem;
        width:63%;
    }

    .home .wrapper  p, .hello{
        font-size: 2.3rem;

    }
    
    
    .home .wrapper .button{
        padding-top: 2.5rem;
    }

    .about .wrapper{
        margin-top: -15rem;
    }

    .about .wrapper .details p{
        font-size: 1.3rem;
        overflow-wrap: break-word;
    }

    .services{
        margin-top: -90rem;
    }

    .contact .box-container{
        flex-flow: column;
        margin: 0 auto;
    }
    
    .contact .box-container .box{
        margin: 2rem auto;
        text-align: center;
            }
    

      .contact form .inputBox .input-1{
        width: 100%;
    }
    
    
}

@media(max-width:768px){
    .header-1{
        box-sizing: border-box !important;        
     padding: 2rem;
        }
    
    
    .home .wrapper .hot .image img{
        width: 100%;
    }

    .home .wrapper h1{
        font-size: 1.5rem;
        width:100%;
    }

    .home .wrapper{
        flex: 1 1 35rem;
    }

    .home .wrapper .hot .image{
        flex: 1 1 10rem;
    }

    .hello{
        font-size: 1.3rem;
    }

    .services{
        margin-top: -55rem;
    }

    #text{
        display: block;
        font-size: 2.5rem;
      }

    .contact .box-container{
        flex-flow: column;
        margin: 0 auto;
    }
    
    .contact .box-container .box{
        margin: 2rem auto;
        text-align: center;
            }
    

      .contact form .inputBox .input-1{
        width: 100%;
    }
    
}


@media(max-width:576px){
    .home .wrapper h1{
        font-size: 1.8rem;
        width:55%;
    }

    .home .wrapper  p, .hello{
        font-size: 2.5rem;

    }
    
    .hello{
        font-size: 1.5rem;
    }

    .heading{
        font-size: 3rem;
    }
    

    .btn-1{
        padding: 1rem 4.5rem;
    }
    

    .home .wrapper .button .download{
        padding: 1rem 5rem;
    }

    .services{
        margin-top: -15rem;
    }

}

@media(max-width:450px){
    html{
        font-size: 50%;
    }


    .header-1{
        padding: 2rem;
    }

    .header-1 .my-nav{
        margin-top: -4rem;
    }
    .home .wrapper .hot{
        padding: 1rem;
        border-radius: 10rem;
    }
    
    .home .wrapper .hot span{
        font-size: .7rem;
        padding: .6rem .7rem;
        border-radius: 1rem;
    }
    
    .home .wrapper .hot h6{
        font-size: 1rem;
        padding-top: .2rem;
    }
    
    .home .wrapper .hot .image img{
        width: 100%;
    }

    .home .wrapper .button{
        margin-right: 3rem;
    }

    .home .wrapper .button .download{
        margin-top:.0rem;
    }

    .about .wrapper{
        margin-top: 3rem;
        
    }

    .services{
        padding-top: 18rem;
        z-index: 0;
        margin-top: -8rem; 
    }

    .services h1{
        padding-top: 0;
    }

    .about{
        margin-top: -15rem;
    }

    .pricing .box-container{
        gap: 4rem;
        padding-top: 4rem;
    }
    
}

@media(max-width:393px){
    .services{
        margin-top: -2rem; 
    }
    }

@media(max-width:375px){
    .home .wrapper .hot span{
        font-size: .6rem;
        padding: .65rem .6rem;
        border-radius: 1rem;
    }

    .home .wrapper h1{
        font-size: 1.4rem;
        width:55%;
    }

    .home .wrapper  p, .hello{
        font-size: 2rem;

    }
    
    .hello{
        font-size: 1.2rem;
    }
    

    .header-1{
    box-sizing: border-box !important;
    width: 100%;
    padding: 2rem;
    }

    .header-1 .logo{
        font-size: 1.5rem;
    }   

    .header-1 #menu-bar{
        font-size: 2rem;
    }

    .services{
        padding-top: 8rem;
        z-index: 0;
        margin: 0 auto;
        margin-top: 4rem;
        
    }

    .about{
        margin: 0 auto;
        margin-bottom: 15rem;
        margin-top: -15rem;
        
    }


    .services .heading, .skills .heading{
    font-size: 3rem;
    }

    .services .box-container .box{
        flex: 1 1 50rem;
        padding: 2rem;
        width: 100%;
        box-sizing: border-box;
        word-wrap: break-word;
    }

    .services .box-container .box i{
        font-size: 2rem;
    }

    .services .box-container .box p{
        font-size: 1.5rem;
    }

    .pricing{
        margin: 0 auto;
        padding: 6rem 9%;
    
    }
    
    .pricing .box-container{
        gap: 3.5rem;
    }
    
    .pricing .box-container .box{
        padding: 3rem;
    }
    
    .pricing .box-container .box .mini-head{
        font-size: 2rem;
    }
    
    .pricing .box-container .box .price span:first-of-type{
        font-size: 3rem;
    }
    

    .pricing .box-container .box .btn-1{
        width: 100%;
    }

    .home .wrapper .button{
        gap: 1.5rem;    
    }
    
    .about{
        width: 90%;
    }

    .services{
        width: 100%;
        margin-top: -15rem;
    }
}

/*@media(max-width:280px){
    .home .wrapper .button .download{
        margin-top: 3rem;
    }
}